.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  min-width: 920px;
}

.header .logo {
  flex-grow: 1;
}

.header .search {
  flex-grow: 5;
  text-align: end;
}

.search input {
  width: 60%;
  color: #fff;
  font-size: 1.2em;
  height: 1.5em;
  border: 0;
  border-bottom: 1px solid #c8cccf;
  outline: none;
  vertical-align: middle;
  background-color: transparent;
  font-family: Oswald, sans-serif;
}
