@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wpgi2e');
  src:  url('../fonts/icomoon.eot?wpgi2e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wpgi2e') format('truetype'),
    url('../fonts/icomoon.woff?wpgi2e') format('woff'),
    url('../fonts/icomoon.svg?wpgi2e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}